<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exchange Rate</title>
</head>
<body>
    <h1>Current Rate</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Currency</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CZK</td>
                <td>{{ czk_rate }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
